<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Enter Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item>
            <ion-label>Name: </ion-label>
            <ion-input type="text" aria-placeholder="Enter Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email: </ion-label>
            <ion-input type="email" aria-placeholder="Enter Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Contact: </ion-label>
            <ion-input type="number" aria-placeholder="Enter Contact"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Date of Birth: </ion-label>
            <ion-input type="date"></ion-input>
        </ion-item>
        <button color="red" value="submit" class="btn">Submit</button>
    </form>
</ion-content>